/* navigation bar */
#rows{
    margin-bottom: 20px;
}
.navbar li a{
    color: white !important;
}
.navbar-branch strong{
color: white !important;
font-size: 25px;
}
.navbar li a:hover:not(#active){
    color:orange !important;
}
.navbar li a#active{
    color: orange !important;
}
.navbar .icon{
    color:white !important;
}
.banner{
    margin-bottom: 20px;
    width: 100%;
}

/* footer */
#footer{
    margin-bottom:0;
}
#row-footer{
    padding-top: 10px;
}
.icon-footer{
    list-style-type: none;
}
footer p{
    margin:0;
}


  /* zoom tablet */
@media only screen and (max-width:1024px){
        #footer{
            margin-bottom:0;
        }
        #row-footer{
            padding-top: 10px;
        }
    }
    


/* zoom smartphone */
@media only screen and (max-width:600px){
.container-fluid {
position: relative;
}
#img-com{
    height: 200px;
}
#brand{
    position: absolute;
    font-size: 15px;
    left:35%;
    color:white;  
}
#footer{
    margin-bottom:0;
}
#row-footer p{
    padding-top: 10px;
    line-height: 20px;
    font-size: 15px;
}

}