@media(min-width:740px) and (max-width: 1023px) {
    .submitForm {
        width: 50%
    }
    .submitForm button {
        margin: 10px 2.5px;
        width: 100%;
    }
}

@media (max-width:740px) {
    .submitForm {
        width: 50%
    }
    .submitForm button {
        margin: 20px 2.5px;
        width: 100%;
    }
    .table {
        width: 30%;
        margin: auto;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }
    .table td {
        margin: 0;
        padding: 5px;
    }
}